@charset "utf-8";
/*----------------------首页---------------------------*/
.index .banner {
  position: relative;
  width: 100%;
  height: 538px;
  overflow: hidden;
}
.index .banner .slideBox {
  width: 1920px;
  height: 538px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -269px 0 0 -960px;
}
.index .banner .slideBox .hd {
  position: absolute;
  bottom: 20px;
  left: 48%;
  z-index: 1;
}
.index .banner .slideBox .hd li {
  width: 10px;
  height: 10px;
  background: url("../images/i-1.png") no-repeat;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.index .banner .slideBox .hd li.on {
  background: url("../images/i-2.png") no-repeat;
}
.index .bgc-f9 {
  background: #f9f9f9;
  padding-bottom: 40px;
}
.index .section-1 {
  padding: 30px 0 0 0;
}
.index .section-1 .part1 {
  width: 550px;
  position: relative;
}
.index .section-1 .part1 .title {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
}
.index .section-1 .part1 .title .name-ch {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  border-bottom: 4px solid #ce0c26;
  padding: 0 5px;
  line-height: 36px;
}
.index .section-1 .part1 .title .name-en {
  font-size: 16px;
  color: #cdcdcd;
  text-transform: uppercase;
  margin: 0 0 0 5px;
}
.index .section-1 .part1 .show {
  background: #fff;
  margin: 15px 0 0 0;
}
.index .section-1 .part1 .show .show-pic {
  width: 230px;
  height: 230px;
  margin: 0 30px 0 0;
}
.index .section-1 .part1 .show .show-txt {
  overflow: hidden;
}
.index .section-1 .part1 .show .show-txt .a-go:hover h1 {
  color: #ce0c26;
}
.index .section-1 .part1 .show .show-txt h1 {
  font-size: 16px;
  margin: 20px 0;
  color: #333;
}
.index .section-1 .part1 .show .show-txt p {
  color: #666;
  line-height: 26px;
  height: 104px;
  overflow: hidden;
  margin: 0 0 20px;
}
.index .section-1 .part1 .show .show-txt .more {
  color: #fff;
  background: #ce0c26;
  padding: 2px 12px;
  border-radius: 5px;
  display: block;
  font-size: 12px;
}
.index .section-1 .part1 .show .show-txt .more:hover {
  color: #fff!important;
}
.index .section-1 .part1 .show .show-txt .more:hover span {
  transform: rotate(30deg);
}
.index .section-1 .part2 {
  width: 620px;
  position: relative;
}
.index .section-1 .part2 .title {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
}
.index .section-1 .part2 .title .name-ch {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  border-bottom: 4px solid #ce0c26;
  padding: 0 5px;
  line-height: 36px;
}
.index .section-1 .part2 .title .name-en {
  font-size: 16px;
  color: #cdcdcd;
  text-transform: uppercase;
  margin: 0 0 0 5px;
}
.index .section-1 .part2 .table {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 277px;
}
.index .section-1 .part2 .table .hd {
  width: 100px;
  position: absolute;
  left: 0;
  top: 45px;
}
.index .section-1 .part2 .table .hd li {
  width: 100%;
  height: 58px;
  line-height: 58px;
  background: #f2f1f1;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
.index .section-1 .part2 .table .hd li span {
  border-bottom: 1px solid #fff;
  width: 90px;
  height: 57px;
  display: block;
  margin: 0 auto;
}
.index .section-1 .part2 .table .hd li.on {
  background: #c00;
  color: #fff;
}
.index .section-1 .part2 .table .hd li.on span {
  border-bottom: 1px solid #c00;
}
.index .section-1 .part2 .table .bd {
  position: absolute;
  right: 0;
  top: 0;
  width: 519px;
  height: 277px;
}
.index .section-1 .part2 .table .bd .more {
  color: #fff;
  background: #ce0c26;
  padding: 2px 12px;
  border-radius: 5px;
  display: block;
  font-size: 12px;
}
.index .section-1 .part2 .table .bd .more:hover {
  color: #fff!important;
}
.index .section-1 .part2 .table .bd .content {
  background: #fff;
  margin: 23px 0 0 0;
  padding: 20px 40px;
  height: 193px;
}
.index .section-1 .part2 .table .bd .content .first {
  border-bottom: 1px dashed #999;
}
.index .section-1 .part2 .table .bd .content .first .a-go:hover h1 {
  color: #ce0c26;
}
.index .section-1 .part2 .table .bd .content .first h1 {
  font-size: 16px;
  color: #333;
}
.index .section-1 .part2 .table .bd .content .first p {
  color: #666;
  line-height: 24px;
  padding: 10px 0;
  height: 48px;
  overflow: hidden;
}
.index .section-1 .part2 .table .bd .content .first p .time {
  font-size: 12px;
  color: #999;
  *margin: -22px 0 0 0;
}
.index .section-1 .part2 .table .bd .content .top3 {
  margin: 15px 0 0 0;
}
.index .section-1 .part2 .table .bd .content .top3 li {
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 20px;
  background: url("../images/i-3.png") 0 12px no-repeat;
  width: 400px;
}
.index .section-1 .part2 .table .bd .content .top3 li a {
  color: #333;
}
.index .section-2 {
  margin: 30px 0 0 0;
}
.index .section-2 .title {
  height: 30px;
  line-height: 31px;
  border-bottom: 1px solid #ce0c26;
}
.index .section-2 .title .name-ch {
  display: block;
  background: #ce0c26;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 0 15px;
}
.index .section-2 .title .name-en {
  font-size: 16px;
  color: #cdcdcd;
  text-transform: uppercase;
  margin: 0 0 0 5px;
}
.index .section-2 .title .more {
  color: #fff;
  background: #ce0c26;
  padding: 2px 12px;
  border-radius: 5px;
  display: block;
  font-size: 12px;
  line-height: 18px;
}
.index .section-2 .title .more:hover {
  color: #fff!important;
}
.index .section-2 .content {
  padding: 20px 0;
  background: #fff;
}
.index .section-2 .content .card {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.index .section-2 .content .card > img {
  padding: 15px 65px;
  width: 104px;
  height: 148px;
}
.index .section-2 .content .card > img:hover {
  transform: scale(1.1);
}
.index .section-2 .content .card > p {
  text-align: center;
  padding: 0 10px 10px;
  width: 214px;
}
.index .section-2 .content .card + .card {
  border-left: 1px solid #dcdcdc;
}
/*----------------------内页通用---------------------------*/
.main {
  background: #f9f9f9;
  position: relative;
  z-index: 1;
}
.main .banner {
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
}
.main .banner .content {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1920px;
  height: 280px;
  margin: 0 0 0 -960px;
}
.main .banner .content img {
  width: 100%;
}
.main .section-main .title {
  border-bottom: 1px solid #e6e6e6;
}
.main .section-main .title .name-ch {
  font-size: 22px;
  color: #333;
  padding: 43px 0 0 0;
}
.main .section-main .title .name-en {
  font-size: 16px;
  color: #bababa;
  text-transform: capitalize;
}
.main .section-main .title .nav {
  color: #999;
  padding: 10px 0;
}
.main .section-main .title .nav > span {
  color: #666;
}
.main .section-main .title .nav > a {
  color: #999;
}
.main .section-change {
  margin: 30px 0;
}
.main .section-change .nav-left {
  width: 230px;
  overflow: hidden;
}
.main .section-change .nav-left .li-1 {
  color: #666;
  padding: 14px 0 14px 20px;
  display: block;
  border-bottom: 1px solid #e6e6e6;
  width: 140px;
}
.main .section-change .nav-left .li-1 + ul {
  padding: 0 0 0 30px;
  display: none;
}
.main .section-change .nav-left .li-1 + ul .li-2 {
  color: #666;
  font-size: 12px;
  padding: 14px 0 14px 20px;
  display: block;
  border-bottom: 1px solid #e6e6e6;
  min-width: 140px;
  max-width: 160px;
  float: left;
}
.main .section-change .nav-left .li-1 + ul .li-2:hover {
  transform: translateX(10px);
  background: url("../images/1-2.png") 0 16px no-repeat;
  color: #ce0c26;
}
.main .section-change .nav-left .li-1 + ul > .on .li-2 {
  background: url("../images/1-2.png") 0 16px no-repeat;
  color: #ce0c26;
}
.main .section-change .nav-left .li-1:hover {
  transform: translateX(10px);
  background: url("../images/1-1.png") 0 16px no-repeat;
  color: #ce0c26;
}
.main .section-change .nav-left > li.on .li-1 {
  background: url("../images/1-1.png") 0 16px no-repeat;
  color: #ce0c26;
}
.main .section-change .article-right {
  width: 960px;
  /*分页*/
  /*单页面 .page*/
  /*产品--列表*/
  /*产品--详情*/
  /*新闻--列表*/
  /*新闻-详情*/
  /*单页面-地图导航*/
}
.main .section-change .article-right .fenye {
  text-align: center;
  padding: 10px 0;
}
.main .section-change .article-right .fenye > a {
  cursor: pointer;
  padding: 7px 14px;
  border: 1px solid #ce0c26;
  color: #ce0c26;
}
.main .section-change .article-right .fenye > a:hover {
  background: #ce0c26;
  color: #fff!important;
}
.main .section-change .article-right .fenye > a.on {
  background: #ce0c26;
  color: #fff;
}
.main .section-change .article-right .fenye > a.on:hover {
  color: #fff!important;
}
.main .section-change .article-right .page-list-1 .card-group {
  font-size: 0;
  overflow-x: hidden;
}
.main .section-change .article-right .page-list-1 .card-group .card {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: #ffffff url("../images/2-1.png") 100% 23px no-repeat;
  width: 238px;
  border-top: 1px solid #ce0c26;
  margin: 0 0 35px;
}
.main .section-change .article-right .page-list-1 .card-group .card img {
  width: 104px;
  height: 148px;
  padding: 35px 70px;
}
.main .section-change .article-right .page-list-1 .card-group .card img:hover {
  transform: scale(1.1);
}
.main .section-change .article-right .page-list-1 .card-group .card p {
  text-align: center;
  padding: 0 0 25px;
  font-size: 14px;
}
.main .section-change .article-right .page-list-1 .card-group .card.no-line {
  background: #fff;
}
.main .section-change .article-right .page-view-1 .l {
  width: 240px;
  margin: 0 75px 0 0;
  border: 1px solid #e6e6e6;
  text-align: center;
}
.main .section-change .article-right .page-view-1 .l img {
  padding: 35px 0;
  width: 104px;
  height: 148px;
}
.main .section-change .article-right .page-view-1 .l p {
  padding: 0 20px 20px;
  color: #ce0c26;
  font-weight: 600;
}
.main .section-change .article-right .page-view-1 .r {
  overflow: hidden;
}
.main .section-change .article-right .page-view-1 .r h1 {
  font-size: 16px;
  border-bottom: 1px solid #ce0c26;
  padding: 0 0 25px;
}
.main .section-change .article-right .page-view-1 .r .article {
  margin: 15px 0 0 0;
  background: #eee;
  padding: 25px 20px;
}
.main .section-change .article-right .page-view-1 .r .article p {
  color: #666;
  line-height: 34px;
}
.main .section-change .article-right .page-list-2 .card {
  display: block;
  padding: 0 0 35px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 0 35px;
}
.main .section-change .article-right .page-list-2 .card .part1 {
  width: 200px;
  height: 130px;
  overflow: hidden;
  margin: 0 50px 0 0;
}
.main .section-change .article-right .page-list-2 .card .part1 img {
  width: 200px;
  height: 130px;
}
.main .section-change .article-right .page-list-2 .card .part1 img:hover {
  transform: scale(1.1);
}
.main .section-change .article-right .page-list-2 .card .part2 .p1 {
  font-size: 16px;
  width: 485px;
  padding: 15px 0 25px;
  color: #333;
}
.main .section-change .article-right .page-list-2 .card .part2 .p2 {
  color: #666;
  width: 485px;
  line-height: 26px;
  height: 52px;
  overflow: hidden;
}
.main .section-change .article-right .page-list-2 .card .part3 {
  text-align: right;
  height: 100px;
  background: url("../images/6-1.png") 95% 85px no-repeat;
}
.main .section-change .article-right .page-list-2 .card .part3 .time {
  font-size: 24px;
  color: #999;
  margin: 20px 0 0 0;
}
.main .section-change .article-right .page-list-2 .card:hover .part2 {
  transform: translateX(10px);
}
.main .section-change .article-right .page-list-2 .card:hover .part2 .p1 {
  color: #ce0c26;
}
.main .section-change .article-right .page-list-2 .card:hover .part3 .time {
  color: #333;
}
.main .section-change .article-right .page-view-2 .title1 {
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 0 50px;
}
.main .section-change .article-right .page-view-2 .title2 {
  font-size: 12px;
  color: #999;
  text-align: center;
  margin: 0 0 40px;
}
.main .section-change .article-right .page-view-2 .edit img {
  max-width: 960px;
  text-align: center;
}
