
/*=== banner === */
#banner {
	position: relative;
	width: 100%;
	height: 500px;
	padding-top: 76px;
}
.picFocus {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.picFocus .bd {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
}
.picFocus .bd ul li {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.picFocus .bd ul li a { 
	display: inline-block; 
	height: 500px; 
	width: 100%; 
}
.picFocus .bd ul li img {
	position: absolute;
	left: 50%;
	margin-left: -960px;
	width: 1920px;
	height: 500px;
	z-index: 0；
}
.picFocus .hd {
	position: absolute;
    bottom: -24px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
    z-index: 99;
}
.picFocus .hd span {
	display: inline-block;
	width: 35px;
	height: 2px;
	background-color: #dadada;
	cursor: pointer;
}
.picFocus .hd span.on { background-color: #007857; }
.picFocus .hd span+span { margin-left: 10px; }



/*=== 公用样式 headline ===*/
.headline{ padding-top: 40px; padding-bottom: 40px; }
.headline h1{
	color: #007857;
	font-size: 22px;
	line-height: 48px;
	text-align: center;
	padding-bottom: 10px;
}
.headline p{
	color: #999;
	font-size: 12px;
	text-align: center;
}
.headline p+p{ padding-top: 8px; }




/*=== 产品种类 product ===*/
#product{ width: 100%; }
.product{
	width: 1200px;
	margin: 0 auto;
	padding-top: 26px;
}
.product-list{ 
	position: relative;
	width: 1200px; 
}
.picScroll-left .hd .pre{
    display: inline-block;
    width: 40px;
    height: 68px;
    background: url("../images/pre.png") no-repeat;
    position: absolute;
    left: -40px;
    top: 78px;
    cursor: pointer;
    overflow: hidden;
}
.picScroll-left .hd .next{
    display: inline-block;
    width: 40px;
    height: 68px;
    background: url("../images/next.png") no-repeat;
    position: absolute;
    top: 78px;
    right: -40px;
    cursor: pointer;
    overflow: hidden;
}
.picScroll-left .bd{
    margin:0 auto;
    overflow: hidden;
}
.picScroll-left .bd ul{
    position: relative;
    overflow: hidden;
}
.picScroll-left .bd ul li{
    float: left;
    overflow: hidden;
    width: 240px;
    height: 356px;
    text-align: center;
}
.picScroll-left .bd ul li:hover{
	background: url(../images/bg1.png) no-repeat;
}
.picScroll-left .bd ul li:hover .product-name{
	background: url(../images/bg2.png) no-repeat 48px 30px;
}
.product-name{
	width: 240px;
	height: 112px;
	padding-top: 68px;
	background: url(../images/product-bg.png) no-repeat 58px 40px;
}
.product-name img{ padding-bottom: 6px;}
.product-name img.b{ padding-bottom: 10px; padding-top: 10px; }
.product-name i.icon{ 
	display: block;
	font-size: 32px;
	font-weight: normal;
    line-height: 30px;
    color:#fff;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
    padding-bottom: 16px;
}
.product-name h3{
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.product-name h3+h3{ padding-top: 4px; }
.product-state{
	width: 240px;
	height: 84px;
	padding-top: 36px;
	overflow: hidden;
	text-align: left;
	font-size: 0;
}
.product-state a{
	display: inline-block;
	color: #666;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 2px;
	/*padding: 0 16px;*/
	line-height: 28px;
}
.product-state a:hover{ color: #007857; }
.more{ 
	display: none;
	padding-left: 20px; 
	padding-top: 10px;
    text-align: left; 
}
.more a{ 
	color: #007857; 
	font-size: 14px; 
}


/*=== 关于我们 about ===*/
#about{ width: 100%; }
.about{ width: 1200px; margin: 0 auto; }
.about-us{
	padding-bottom: 80px;
	padding-top: 20px;
}
.about-left{
	width: 600px;
	text-align: center;
}
.about-right{
	width: 600px;
	padding-top: 20px;
}
.about-right .about-title{
	display: block;
	padding-bottom: 10px;
	color: #007857;
	font-size: 16px;
	font-weight: bold;
}
.about-right p{
	line-height: 24px;
	padding-bottom: 50px;
}
.about-right .about-more{
	display: block;
	width: 88px;
	height: 36px;
	padding-left: 28px;
	line-height: 36px;
	border: 1px solid #007857;
	color: #007857;
	background: url(../images/icon1.png) no-repeat 78px center;
}
.about-right .about-more:hover,
.about-right .about-title:hover{ color: #03956d; }


/*=== 产品中心 product-center ===*/
#product-center{
	width: 100%;
	background-color: #f4f4f4;
}
.product-center{
	width: 1200px;
	padding-bottom: 54px;
	margin: 0 auto;
}
.picScroll .hd{ 
	padding-top: 32px;
	width: 1200px;
	height: 11px;
	position: relative;
}
.picScroll .hd ul{
	position: absolute;
	top: 32px;
	left: 50%;
	overflow: hidden;
	text-align: center;
	font-size: 0;
	height: 11px;
}
.picScroll .hd ul li{
	/*display: inline-block;*/
	float: left;
	text-indent: -9999px;
	width: 11px;
	height: 11px;
	margin: 0 5px;
	cursor: pointer;
	background: url(../images/hd1.png) no-repeat;
}
.picScroll .hd ul li.on{
	background: url(../images/hd-on.png) no-repeat;
}


/*=== 品牌中心 brand ===*/
#brand{
	width: 100%;
	background-color: #f4f4f4;
}
.brand{
	width: 1200px;
	margin: 0 auto;
}
.brand-list{ padding-bottom: 62px;}


