#side-banner{
	width: 100%;
	height: 300px;
	padding-top: 76px;
	background: url(../images/side-banner.png) no-repeat center 76px;
}
.side-banner{
	width: 1200px;
	margin: 0 auto;
	padding-top: 116px;
}
.side-banner h2{
	color: #fff;
	font-size: 30px;
	font-weight: normal;
}
.side-banner p{
	font-size: 16px;
	color: #fff;
}


#container{ width: 100%; background-color: #fbfbfb;}
.containerP{
	width: 100%; 
	background-color: #fff;
}
.container{
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.title{ 
	padding-top: 36px;
	border-bottom: 1px solid #e6e6e6;
}
.title h2{
	color: #666;
	font-size: 18px;
	line-height: 48px;
}
.title p{ color: #999; line-height: 48px;}
.title p a{ color: #999; font-size: 14px;}
.title p a:hover,
.title p a.on{ color: #666;}
.tab{
	padding-top: 20px;
	height: 24px;
	margin-bottom: 10px;
}
.tab a{
	display: inline-block;
	padding: 0 8px;
	font-size: 14px;
	line-height: 24px;
}
.tab a+a{ margin-left: 24px;}
.tab a:hover,
.tab a.on{ border-bottom: 2px solid #007857;}

.side-bar{
	width: 220px;
	background-color: #f4f4f4;
	padding-top: 10px;
}
.menu .nli{
	position: relative;
	width: 220px;
	line-height: 44px;	
}
.menu-img{
	position: absolute;
	top: 18px;
	left: 28px;
}
.menu .nli .menu-one{
	display: inline-block;
	width: 174px;
	height: 44px;
	padding-left: 46px;
	background: #fff url(../images/01.png) right 31px no-repeat;
	cursor: pointer;
	border-bottom: 1px solid #f4f4f4;
}
.menu .nli .menu-one.on{
	color: #fff;
	background: url(../images/sidebar-bg.png);
}
.menu .nli.on .sub-nav{ display: block; }
.sub-nav{
	padding-top: 16px;
	padding-bottom: 16px;
	display: none;
}
.sub-nav ul li{
	width: 160px;
	height: 30px;
	line-height: 30px;
}
.sub-nav ul li a{
	display: inline-block;
	width: 160px;
	height: 30px;
	padding-left: 60px;
	background: url(../images/icon3.png) no-repeat 32px center;
}
.sub-nav ul li a:hover,
.sub-nav ul li.on a{
	color: #007857;
	background: url(../images/icon3-on.png) no-repeat 32px center; 
}
.side-con{
	width: 960px;
}

/*产品中心*/
.side-con ul{ border-bottom:  1px solid #e6e6e6;}
.side-con ul .product-intro{ margin-bottom: 20px;}
.brand-list ul{
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.side-con ul li,
.brand-list ul li{ margin-bottom: 20px;}
.brand-detail{
	height: 114px;
	background: #fff;
	margin: 20px 10px 10px;
}
.brand-detail .brand-left{
	width: 220px;
	height: 114px;
	line-height: 114px;
	text-align: center;
	overflow: hidden;	
}
.brand-detail .brand-left img{
	/*width: 120px;
	height: 96px;*/
}
.brand-detail .brand-right{
	height: 90px;
	width: 940px;
	padding: 12px 20px 12px 0;
	overflow: hidden;
}
.brand-detail .brand-right P{
	text-indent: 40px;
	line-height: 28px;
}
.product-top{
	padding-top: 44px;
	padding-bottom: 44px;
}
.product-top .product-left{
	height: 254px;
	width: 348px;
	line-height: 254px;
	text-align: center;
	border: 1px solid #e6e6e6;
	overflow: hidden;
}
.product-top .product-left img{
	width: 267px;
	height: 197px;
	vertical-align: middle;
}
.product-top .product-right{
	width: 800px;
	padding-left: 50px;
	height: 254px;
}
.product-top .product-right h4{
	color: #007857;
	font-size: 16px;
	padding-bottom: 30px;
}
.product-top .product-right p{ 
	letter-spacing: 6px;
}
.product-top .product-right p span{ letter-spacing: 0;}
.product-top .product-right p+p{ padding-top: 16px;}
.product-top .product-right p.price{ color: #cd0303; letter-spacing: 0;}
.product-top .product-right p.price span{ color: #cd0303; letter-spacing: 0;}


.product-tab{
	position: relative;
	height: 56px;
	line-height: 56px;
	background: #eeeeee;
	border-top: 2px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	font-size: 0;
}
.product-tab a{
	position: absolute;
	top: -2px;
	display: inline-block;
	height: 56px;
	padding-left: 22px;
	padding-right: 22px;
	font-size: 16px;
}
.product-tab a.one{ left: 0; }
.product-tab a.two{ left: 124px;}
.product-tab a:hover,
.product-tab a.on{
	color: #007857;
	border-top: 2px solid #007857;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #fff;
	background-color: #fff; 
}
.product-bottom{
	padding: 30px 22px;
	border-bottom: 1px solid #d2d2d2;
}
.product-bottom p{
	line-height: 30px;
	text-indent: 26px;
}

/*关于我们*/
.about{ padding-top: 30px;}
.about p{
	text-indent: 20px;
	line-height: 28px;
}
.about img{ padding-top: 50px; }
.contact{
	padding-top: 20px;
	padding-bottom: 36px;
}
.contact p+p{ padding-top: 10px;}
#dituContent{
	width: 1200px;
	height: 492px;
}


/*留言板*/
.message-list{
	padding-bottom: 72px;
}
.message-list ul li{}
.question{
	padding-top: 32px;
	border-bottom: 1px dashed #d6d6d6;
}
.question .time{ color: #999;}
.question .name{
	display: inline-block;
	padding-right: 36px;
	color: #007857;
}
.question p{
	padding-top: 10px;
	padding-bottom: 14px;
}
.reply {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}
.reply p{ color: #007857;}
.reply p span{ color: #666;}
.reply strong{
	position: absolute;
	right: 0;
	top: 12px;
	color: #999;
	font-weight: normal;
}
.submit-message p{
	color: #007857;
	font-size: 16px;
	padding-bottom: 34px;
}
.submit-message form span.n{
	display: inline-block;
	color: #666;
	font-size: 14px;
	height: 40px;
	line-height: 30px;
}
.submit-message form span.m{
	display: inline-block;
	color: #666;
	font-size: 14px;
	vertical-align: top;
}
.submit-message input.info{
	width: 470px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
	color: #666;
	font-size: 14px;
}
.submit-message .message-con{
	clear: both;
	padding-top: 28px;
	padding-bottom: 28px;
}
.submit-message .message-con lable{
	vertical-align: top;
}
.submit-message .message-con textarea{
	width: 1100px;
	height: 120px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	color: #666;
	font-size: 14px;
}
.submit-message input.submit{
	width: 140px;
	height: 40px;
	line-height: 40px;
	background-color: #007857;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	margin-left: 78px;
	cursor: pointer;
}
/*售后服务*/
.service{ padding-top: 24px;}
.service ul li{
	padding-bottom: 24px;
}
.service ul li .questions{
	padding-left: 14px;
	line-height: 30px;
	font-family: "MicrosoftYaHei Bold";
	font-weight: bold;
	background: url(../images/s.png) no-repeat left center;
}
.service ul li .solve{
	padding-top: 4px;
	line-height: 30px;
}






