{{include file="system/header.html"}}
<body>
    {{include file="zixun/sys/znav3.html"}}
<div class="yyt-100">
    {{ffcategory catid=$cat.parentid to=a}}
    {{ffcategory catid=$a.parentid to=b}}
      <div class="wrapper">
        <div class="top-nav"><img src="__PUBLIC__/images/13-1.png" alt=""/><p><a href="{{$b.url}}">首页</a> > <a href="{{$a.url}}">{{$a.name}}</a></p></div>
    </div>
    <div class="wrapper clearfix">
        <div class="part-left">
                <h1><img src="__PUBLIC__/images/100-1.png" alt=""/>{{$a.name}}</h1>
              <ul class="nav-zhuanti">
                  {{ffcategory catid=$cat.parentid to=d}}
                {{foreach from=$d.child item=s}}
                <li {{if $s.catid==$cat.catid}}class="on"{{/if}}> <a  href="{{$s.url}}">{{$s.name}}</a><b></b></li>
               {{/foreach}}
            </ul>
        </div>
        <div class="part-right">
            <div class="top">
                <a  {{if $smarty.get.type==""||$smarty.get.type==1}}class="on"{{/if}} href="{{$cat.url}}index.html?type=1">基础知识</a>
                <a  {{if $smarty.get.type==2}}class="on"{{/if}} href="{{$cat.url}}index.html?type=2">院校专业</a>
                <a  {{if $smarty.get.type==3}}class="on"{{/if}} href="{{$cat.url}}index.html?type=3">费用清单</a>
                <a  {{if $smarty.get.type==4}}class="on"{{/if}} href="{{$cat.url}}index.html?type=4">申请流程</a>
                <a  {{if $smarty.get.type==5}}class="on"{{/if}} href="{{$cat.url}}index.html?type=5">入学要求</a>
                <a  {{if $smarty.get.type==6}}class="on"{{/if}} href="{{$cat.url}}index.html?type=6">申请材料</a>
                <a  {{if $smarty.get.type==7}}class="on"{{/if}} href="{{$cat.url}}index.html?type=7">签证</a>
                <a  {{if $smarty.get.type==8}}class="on"{{/if}} href="{{$cat.url}}index.html?type=8">其他事项</a>
            </div>
          <div class="content100-1 clearfix">
                <h1>{{$data.title}}</h1>
                <p class="time">{{"Y . m . d "|date:$data.create_time}}     |      <span>查看： 2013</span></p>
                <div class="article">
                  {{$data.content}}
                </div>
                <a href="javascript:history.back(-1);" class="back">返回上一级</a>
                 <a href="{{$data.next_url}}?leibie={{$smarty.get.leibie}}" class="fenye-prev">上一动态：<span>{{$data.next_title}}</span></a>
                <a href="{{$data.pre_url}}?leibie={{$smarty.get.leibie}}" class="fenye-next">下一动态：<span>{{$data.pre_title}}</span></a>
            </div>
        </div>
    </div>

</div>

{{include file="system/footer.html"}}