@charset "utf-8";
/* CSS Document */
body{width:100%;font-size:1em;height:auto;}
.mobile-inner-header .logo{ margin-left:20px;}	
.mobile-inner-header .logo img{height:80px;}
.header{width:100%; height:83px; padding-bottom:37px;background:transparent url(../images/headerbg-1.png) no-repeat left center; position:relative; z-index:999;}
.header .nav-btn{ height:30px; line-height:30px; background-image:url(../images/nav.png); background-repeat:no-repeat; background-position:right center; font-size:24px; color:#c7b482; float:right; margin-right:5%; margin-top:1em; width:3.5em;}
.header-right{}
.header-right .logo{float:right;}/*导航 end*/


.banner{width:100%;position:relative;}/*首页 banner*/
.banner img{width:100%; float:left;}
.banner-index .swiper-pagination-bullet{ width:0.5em; height:0.5em; background-color:#fff; border-radius:50%;}
.banner-index .swiper-pagination-bullet-active{ background-color:#d1c0a5;}

.banner-box{ width:100%; line-height:0;} /*内页 banner*/
.banner-box img{ width:100%;}

.menu{height:62px; background:#211102 url(../images/menu-bg.jpg) center center no-repeat; background-size:100%;padding:0 2%; position:relative; z-index:9999; margin-top:-2px;}/*内页菜单*/
.menu h3{ line-height:62px; color:#c7b482; font-size:1em; border-right:1px solid #6d655a; float:left; padding-right:2%;}
.select_box {float:left;background:url(107.gif) no-repeat 160px center; position:relative}
.select_box span>a{cursor:pointer; float:left;line-height:62px; height:62px; overflow:hidden; color:#f0cd86; font-size:0.76em; padding:0 3px;}
.select_box span>a:hover{ background:#a6937c; color:#180c00;}
.select_box ul li {cursor:pointer;}
.son_ul {position:absolute;left:-1px;top:62px;background:#3a250b;display:none; width:100px;}
.son_ul li a{padding:0 10px; font-size:0.76em; color:#ead6a0; line-height:45px; height:45px; display:block;}
.son_ul li a:hover{background:#a6937c; color:#180c00;}
.son_ul li{display:block;}
.hover {background:#ddd;}

.conntet-box{ background:#fbf5ea; overflow:hidden; padding-bottom:30px;}

.page{ width:100%; text-align:center; padding:20px 0; overflow:hidden;}/*翻页*/
.page li{ display:inline; margin:10px 1px;}
.page li a{ display:inline-block; padding:4px 7px; background:#e8ded0; font-size:0.86em; color:#7c5c39;}
.page li a:hover,.page li a.page-on{background:#a28a6e; color:#fff;}


.footer-bg{position:relative; z-index:10; margin-top:-23px;}/*底部*/
.footer-bg img{width:100%;}
.footer{width:100%; padding:2em 0 2em 0; background:#190b00 url(../images/foot-bg.png) center top no-repeat; background-size:100%;position:relative; z-index:10;margin-top:-5px;}
.footer .link{width:90%;margin:0 auto; overflow:hidden; }
.footer .link a{color:#c7b482;width:20%; float:left; margin-bottom:1.5em; font-size:0.86em; padding-left:1em; background: transparent url(../images/footerbg_03.png) no-repeat left center;}
.footer p{color:#c7b482;font-size:0.6em;width:90%;margin-left:5%; text-align:center; line-height:2em;}



































