/*首页-----------------------------------------------------*/
/* 轮播*/
.index   .slideBox{ width:100%; height:600px; overflow:hidden; position:relative; border:1px solid #ddd; margin-top: 5px; }
.index   .slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:48%; bottom:30px; z-index:1; }
.index   .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.index   .slideBox .hd ul li{ float:left; margin-right:15px;  width:12px; height:12px; line-height:14px; text-align:center; background:#fff; cursor:pointer;  -moz-border-radius: 15px;  -webkit-border-radius: 15px;  border-radius:15px;}
* +html .index   .slideBox .hd ul li{background: url('../images/yuan1.png') no-repeat;}/* 仅IE7 识别 */
.index   .slideBox .hd ul li.on{ background:#6dba44; color:#fff; }
* +html .index   .slideBox .hd ul li.on{background: url('../images/yuan2.png') no-repeat;}/* 仅IE7 识别 */
.index  .slideBox .bd{ position:relative; height:100%; z-index:0;   }
.index  .slideBox .bd li{ zoom:1; vertical-align:middle; }
.index   .slideBox .bd img{  height:600px; display:block;  }
/* 公司介绍轮播 */
.index   .picScroll-left{   overflow:hidden; position:relative;    }
.index   .picScroll-left .bd{ padding:30px 121px 40px;   }
.index   .picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.index   .picScroll-left .bd ul li{  float:left; _display:inline; overflow:hidden; text-align:center;  }
.index   .picScroll-left .bd ul li .pic{ text-align:center; position: relative;display: block;}
.index   .picScroll-left .bd ul li .pic .xiangxi-store{position: absolute;top:20%;left: 20%;width: 170px;height: 170px;background-color: #fff;opacity: 0.8;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-border-radius: 85px;  -webkit-border-radius: 85px;  border-radius:85px;display: none; }
* +html .index   .picScroll-left .bd ul li .pic .xiangxi-store{background: url('../images/yuan.png') no-repeat;}/* 仅IE7 识别 */
.index   .picScroll-left .bd ul li .pic .xiangxi-store h1{font-size: 18px;color: #3f3a39;margin-top: 50px;}
.index   .picScroll-left .bd ul li .pic .xiangxi-store p{font-size: 14px;color: #5d5b5a;}
.index   .picScroll-left .bd ul li .pic .xiangxi-store p span{color: #6dba44;}


.index   .picScroll-left .bd ul li .pic .show{ width:290px; height:340px; display:block; margin-right: 35px; padding:2px;  }
.index   .picScroll-left .bd .prev{ display:block;  width:57px; height:57px;position: absolute;left: 0;top:40%;  overflow:hidden; cursor:pointer; background:url("../images/gsjs-lf.png") no-repeat;}
.index   .picScroll-left .bd .next{ position: absolute;right: 0;top:40%;width:57px; height:57px; background:url("../images/gsjs-ri.png") no-repeat; cursor:pointer;overflow:hidden; display: block;}
/* tab1 */
.index   .tab1{  text-align:left;margin-bottom: 35px;  }
.index   .tab1 .hd{ width: 216px;margin: 10px auto 0; height:40px; line-height:30px; background:#fffcf9; padding:0 10px 0 20px;   position:relative; }
.index   .tab1 .hd ul{ float:left;  position:absolute; left:20px; top:-1px; height:32px; color: #eee;  }
* +html .index   .tab1 .hd ul .shu{display: none;}/* 仅IE7 识别 */
.index   .tab1 .hd ul li{ float:left; padding:0 15px; cursor:pointer; font-size: 18px;color: #878787; }
.index   .tab1 .hd ul .li2{float: right;}
.index    .tab1 .hd ul li.on{ height:30px; color: #6dba44;}
.index   .tab1 .bd ul{ padding-top:15px;  zoom:1;  }
.index   .tab1 .bd ul .card{border: 1px solid #eeffe5;padding: 9px 9px 30px 9px;background-color: #fff;width: 354px;display: block;float: left;margin-right: 38px;}
.index   .tab1 .bd ul .cardLast{margin-right: 0;}
.index   .tab1 .bd ul .card img{width: 353px;height: 288px;margin-bottom: 20px;}
.index   .tab1 .bd ul .card p{font-size: 16px;color: #333;margin-bottom: 5px;}
.index   .tab1 .bd ul .card p .price{font-size: 24px;color: #6dba44;}
.index   .tab1 .bd ul .card p .del{font-size: 14px; margin-left:40px; color: #999;text-decoration:line-through; text-line-through-color:#6dba44;}
/* tab2 */
.index   .tab2{  text-align:left;margin-bottom: 20px;  }
.index   .tab2 .hd{ width: 310px;margin: 10px auto 0; height:40px; line-height:30px; background:#f5fff6; padding:0 10px 0 20px;   position:relative; }
.index   .tab2 .hd ul{ float:left;  position:absolute; left:20px; top:-1px; height:32px; color: #eee;  }
.index   .tab2 .hd ul .shuline{float: left;display: block}
* +html .index   .tab2 .hd ul .shu{display: none;}/* 仅IE7 识别 */
.index   .tab2 .hd ul li{ float:left; padding:0 15px; cursor:pointer; font-size: 18px;color: #878787; }
.index    .tab2 .hd ul .li2{float: right;}
.index   .tab2 .hd ul li.on{ height:30px; color: #6dba44;}
.index   .tab2 .bd ul{ padding-top:15px;  zoom:1;  }
.index   .tab2 .bd ul .card{width: 100%;height: 520px;border-right: 3px solid #6dba44;}
.index   .tab2 .bd ul .card .left{width: 50%;height: 520px; float: left;}
.index   .tab2 .bd ul .card .left .show-pic{width: 600px;height: 520px;cursor: pointer;}
.index   .tab2 .bd ul .card .right{width: 50%;height: 520px; float: left;background-color: #fff;}
.index   .tab2 .bd ul .card .right .top{padding: 65px 65px 75px;height: 250px;}
.index   .tab2 .bd ul .card .right .top h1{font-size: 24px;color: #3f3a39;padding-bottom: 20px;font-weight: 500;}
.index   .tab2 .bd ul .card .right .top h1 span{float: right;color: #878787;font-size: 14px;}
.index   .tab2 .bd ul .card .right .top .text1{color: #5d5b5a;padding-bottom: 40px;font-size: 14px;line-height: 2;}
.index   .tab2 .bd ul .card .right .top .text2{font-size: 14px;line-height: 2;color: #3f3a39;padding-bottom:25px;}
.index   .tab2 .bd ul .card .right .down{height: 130px;}
.index   .tab2 .bd ul .card .right .down img{float: left;width: 25%;height: 130px;cursor: pointer;opacity: 0.3;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30); }
.index   .tab2 .bd ul .card .right .down .on{opacity: 1;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
.index  .tab2 .bd ul .card .right .down img:hover{opacity: 1;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
/*section*/
.index  .section{text-align: center;padding: 35px 0 ;}
.index   .section .more{width: 280px;height: 50px;background-color: #fff3e3;margin: 0 auto;display: block;}
.index  .section .more p{font-size: 18px!important;color: #878787;text-transform:uppercase;padding: 13px 20px 0 45px!important;float: left!important;line-height: 1.5!important;}
.index  .section .more img{float: left;margin: 17px 0 0 0 ;display: block;}
.index   .section1 p{font-size: 14px;color: #5d5b5a;line-height: 2;}
.index   .section1 .title{padding-bottom: 20px;}
.index   .section2{background-color: #fffcf9;}
.index  .section3{background-color: #f5fff6;}
.index  .section3 .more{margin: 0;}
.index   .section4{padding: 0;}
.index  .section4 img{display: block;}
.index  .section4 .title{width: 206px;height: 80px;margin: 12px 0 12px 38%;}
* +html .index  .section4 .title{margin-right: 40%}/* 仅IE7 识别 */
.index  .section4 .place{width: 1200px;height: 472px;cursor: pointer;}
/*关于上邻-----------------------------------------*/
.yyt04 .banner4{width: 100%;height: 400px; background: url("../images/04-1-1.jpg")no-repeat;background-position: center; margin-top: 5px;}
.yyt04 .banner5{width: 100%;height: 400px; background: url("../images/05-2.jpg")no-repeat;background-position: center; margin-top: 5px;}
.yyt04 .banner6{width: 100%;height: 400px; background: url("../images/06-1-1.jpg")no-repeat;background-position: center; margin-top: 5px;}
.yyt04 .banner8{width: 100%;height: 400px; background: url("../images/08-1-0.jpg")no-repeat;background-position: center; margin-top: 5px;}
.yyt04 .banner9{width: 100%;height: 400px; background: url("../images/09-1.jpg")no-repeat;background-position: center; margin-top: 5px;}
/*@media screen and (max-width: 1445px) {*/
    /*.yyt04 .banner4{background:url('../images/04-1-1.jpg') no-repeat -160px;}*/
    /*.yyt04 .banner5{background:url('../images/05-2.jpg') no-repeat -228px;}*/
    /*.yyt04 .banner6{background:url('../images/06-1-1.jpg') no-repeat -191px;}*/
    /*.yyt04 .banner8{background:url('../images/08-1-0.jpg') no-repeat -240px;}*/
    /*.yyt04 .banner9{background:url('../images/09-1.jpg') no-repeat -267px;}*/
/*}*/
.yyt04 .article .left{float: left;width: 255px;margin-right: 27px;margin-top: 15px;}
.yyt04 .article .left .top{width: 100%;text-align: center;font-size: 18px;color: #fff;background-color: #6dba44;padding: 17px 0;}
.yyt04 .article .left .down{width: 99%;border: 1px solid #bec9b8;margin-top: 7px;}
.yyt04 .article .left .down li{margin:0 25px;border-bottom: 1px solid #bec9b8;height: 52px;}
.yyt04 .article .left .down li a{font-size: 14px;color: #5d5b5a;display: inline-block;padding: 15px 30px 0 15px;}
.yyt04 .article .left .down li a:hover{color: #6dba44;}
.yyt04 .article .left .down li:last-child{border-bottom: none;}
.yyt04 .article .left .down li .lefticon{width: 10px;height: 10px;background: url('../images/04nav1.png') no-repeat;display: inline-block;margin-left: 48px;}
.yyt04 .article .left .down li .on{background: url('../images/04nav2.png') no-repeat;}
.yyt04 .article .left .down li .on1{color: #6dba44;}
.yyt04 .article .left .down li .righticon{width: 10px;height: 10px;background: url('../images/04nav3.png') no-repeat;display: inline-block;}
.yyt04 .article .right{float: left;width: 918px;}
.yyt04 .article .right .bread{margin-top: 20px;}
.yyt04 .article .right .bread p{color: #777;padding-bottom: 10px;border-bottom: 1px solid #cecece;}
.yyt04 .article .right .bread p a{color: #777;}
.yyt04 .article .right .bread p a:hover{color: #6dba44}
.yyt04 .article .right .content{margin-top: 35px;min-height: 950px;}
.yyt04 .article .right .content .fenye{width: 275px;margin: 60px auto;}
.yyt04 .article .right .content .fenye a{display: block;float: left;width: 30px;padding: 3px 0;text-align: center;  border: 1px solid #ddd;margin-right: 7px;font-size: 16px;color: #666;}
.yyt04 .article .right .content .fenye a:hover{color: #fff;background-color: #6dba44;}
.yyt04 .article .right .content .fenye .fenye-on{color: #fff;background-color: #6dba44;}
.yyt04 .article .right .content .fenye .fenye-more{border: none;color: #ccc;}
.yyt04 .article .right .content .fenye .fenye-l{color: #cccccc;}
.yyt04 .article .right .content .fenye .fenye-r{color: #ccc;}

/*企业简介*/
.yyt04 .article .right .content .content04-1 img{width: 100%;margin-bottom: 60px; }
.yyt04 .article .right .content .content04-1 p{color: #393939;margin-bottom: 45px;line-height: 2;text-indent: 2rem;}
/*门店信息-首页*/
.yyt04 .article .right .content .content04-3 .card{height: 230px; margin: 25px 0;border-bottom: 1px solid #ddd;}
.yyt04 .article .right .content .content04-3 .card:last-child{border: none;}
.yyt04 .article .right .content .content04-3 .card .card-left{width: 401px;float: left;}
.yyt04 .article .right .content .content04-3 .card .card-right{width: 517px;float: left;}
.yyt04 .article .right .content .content04-3 .card .card-right h1{font-size: 16px;color: #333;font-weight: 500;margin: 25px 0 15px;}
.yyt04 .article .right .content .content04-3 .card .card-right p{color: #666;text-indent: 1rem;line-height: 2;margin-bottom: 35px;}
.yyt04 .article .right .content .content04-3 .card .card-right a{display: block;width: 114px;background-color: #d3dacf;color: #fff;font-size: 14px;padding: 5px 0;text-align: center;}
.yyt04 .article .right .content .content04-3 .card .card-right a:hover{background-color: #6dba44;}
/*门店--详情*/
.yyt04 .article .right .content .content04-3-1 h1{font-size: 16px;color: #333;text-align: center;font-weight: 500;margin: -5px 0 20px 0;}
.yyt04 .article .right .content .content04-3-1 img{width: 100%;margin-bottom: 60px; }
.yyt04 .article .right .content .content04-3-1 p{color: #393939;margin-bottom: 30px;line-height: 2;text-indent: 2rem;}
/*上邻大事记*/
/*左*/
.yyt04 .article .right .content .content04-4 .tree-left{width: 370px;float: left;padding-top: 30px;}
.yyt04 .article .right .content .content04-4 .tree-left .tree-card{text-align: center;}
.yyt04 .article .right .content .content04-4 .tree-left .tree-card img{width: 370px;}
.yyt04 .article .right .content .content04-4 .tree-left .tree-card h1{font-size: 14px;font-weight: 500;color: #333;margin: 20px 0 17px;}
.yyt04 .article .right .content .content04-4 .tree-left .tree-card p{color: #666;line-height: 2;padding: 0 10px 50px;}
/*中*/
.yyt04 .article .right .content .content04-4 .tree{width: 175px;float: left;background:url(../images/04-4-1.png) 10px 0 no-repeat;height: 1100px;}
.yyt04 .article .right .content .content04-4 .tree h1{font-size: 16px;font-weight: 500;text-align: center;color: #fff;}
.yyt04 .article .right .content .content04-4 .tree p{color: #fff;text-align: center;}
.yyt04 .article .right .content .content04-4 .tree .big{width: 50px;padding: 4px 0;background-color: #6dba44;-moz-border-radius: 25px;  -webkit-border-radius: 25px;  border-radius:25px; }
* +html .yyt04 .article .right .content .content04-4 .tree .big{background: url('../images/yuan-tree1.png') no-repeat;}/* 仅IE7 识别 */
.yyt04 .article .right .content .content04-4 .tree .small{width: 30px;padding: 6px 0;background-color: #6dba44;-moz-border-radius: 15px;  -webkit-border-radius: 15px;  border-radius:15px; }
* +html .yyt04 .article .right .content .content04-4 .tree .small{background: url('../images/yuan-tree2.png') no-repeat;}/* 仅IE7 识别 */
.yyt04 .article .right .content .content04-4 .tree .time1{margin:75% 0  0 35%;}
.yyt04 .article .right .content .content04-4 .tree .time2{margin:60% 0  0 40%;}
.yyt04 .article .right .content .content04-4 .tree .time3{margin:104% 0  0 40%;}
.yyt04 .article .right .content .content04-4 .tree .time4{margin:92% 0  0 35%;}
.yyt04 .article .right .content .content04-4 .tree .time5{margin:58% 0  0 40%;}
/*右*/
.yyt04 .article .right .content .content04-4 .tree-right{width: 373px;float: left;padding-top: 200px;}
.yyt04 .article .right .content .content04-4 .tree-right .tree-card{text-align: center;}
.yyt04 .article .right .content .content04-4 .tree-right .tree-card img{width: 370px;}
.yyt04 .article .right .content .content04-4 .tree-right .tree-card h1{font-size: 14px;font-weight: 500;color: #333;margin: 20px 0 17px;}
.yyt04 .article .right .content .content04-4 .tree-right .tree-card p{color: #666;line-height: 2;padding: 0 10px 50px;}
/*主题活动首页---------------------------------------------*/
.yyt04 .article .right .content .content05-2 .card{height: 230px; margin: 25px 0;border-bottom: 1px solid #ddd;}
.yyt04 .article .right .content .content05-2 .card:last-child{border: none;}
.yyt04 .article .right .content .content05-2 .card .card-left{width: 401px;float: left;}
.yyt04 .article .right .content .content05-2 .card .card-right{width: 517px;float: left;}
.yyt04 .article .right .content .content05-2 .card .card-right h2{font-size: 14px;color: black;font-weight: 500;margin-top: 10px;}
.yyt04 .article .right .content .content05-2 .card .card-right .time{font-size: 12px;color: #999;margin-bottom: 20px;}
.yyt04 .article .right .content .content05-2 .card .card-right p{color: #666;text-indent: 1rem;line-height: 2;margin-bottom: 25px;}
.yyt04 .article .right .content .content05-2 .card .card-right a{display: block;width: 114px;color: #666;border: 1px solid #ddd; font-size: 14px;padding: 5px 0;text-align: center;}
.yyt04 .article .right .content .content05-2 .card .card-right a:hover{color: #6dba44;border: 1px solid #6dba44;}
/*主题活动-详细页面*/
.yyt04 .article .right .content .content05-2-1 h1{font-size: 16px;color: #333;text-align: center;font-weight: 500;margin: -5px 0 20px 0;}
.yyt04 .article .right .content .content05-2-1 p{color: #393939;margin-bottom: 30px;line-height: 2;text-indent: 2rem;}
.yyt04 .article .right .content .content05-2-1 .time{font-size: 12px;color: #777;margin: 0;border-bottom: 1px solid #ddd;text-align: center;padding-bottom: 15px;margin-bottom: 40px;margin-top: -10px;}
.yyt04 .article .right .content .content05-2-1 .back{border-top: 1px solid #ddd;padding:10px 0 170px;margin-top: 100px;}
.yyt04 .article .right .content .content05-2-1 .back .prev{float: left;margin-right: 25px;}
.yyt04 .article .right .content .content05-2-1 .back .prev a:hover{color: #6dba44;}
.yyt04 .article .right .content .content05-2-1 .back .next{float: left;}
.yyt04 .article .right .content .content05-2-1 .back .next a:hover{color: #6dba44;}
.yyt04 .article .right .content .content05-2-1 .back .back-btn{float: right;display: block;background-color: #6dba44;color: #fff;padding: 2px 20px; }
/*新品推荐首页---------------------------------------------*/
.yyt04 .article .right .content .content06-1{margin-top: -10px;}
.yyt04 .article .right .content .content06-1 .card{width: 280px;height: 340px;float: left;margin-right: 35px;text-align: center;}
.yyt04 .article .right .content .content06-1 .noRight{margin-right: 0;}
.yyt04 .article .right .content .content06-1 .card img{width: 139px;height: 194px; padding: 12px 70px 24px;border: 1px solid #ddd;}
.yyt04 .article .right .content .content06-1 .card img:hover{border: none;}
.yyt04 .article .right .content .content06-1 .card h1{font-size: 14px;color: #333;margin: 15px 0;font-weight: 500;}
.yyt04 .article .right .content .content06-1 .card p{color: #666;}
.yyt04 .article .right .content .content06-1 .card .price{font-size: 16px;color: #6dba44;}
.yyt04 .article .right .content .content06-1 .card .del{color: #999;margin-left: 45px;text-decoration:line-through;}
/*图片border*/
.yyt04 .article .right .content .content06-1 .card .lanrenzhijia{width: 280px;height: 232px;position: relative;}
.yyt04 .article .right .content .content06-1 .card .lanrenzhijia .border-left{width: 1px;height: 0px;background: #84eb4c;position:absolute;left:-1px;bottom: 0;}
.yyt04 .article .right .content .content06-1 .card .lanrenzhijia .border-bottom{width: 0px;height: 1px;background: #84eb4c;position:absolute;left:0;bottom: 0px;}
.yyt04 .article .right .content .content06-1 .card .lanrenzhijia .border-top{width: 0px;height: 1px;background: #84eb4c;position:absolute;right:0;top: 0px;}
.yyt04 .article .right .content .content06-1 .card .lanrenzhijia .border-right{width: 1px;height: 0px;background: #84eb4c;position:absolute;right:-1px;top: 0;}
/*新品推荐--详细页面*/
.yyt04 .article .right .content .content06-1-1 .top{padding-bottom: 40px;border-bottom: 1px solid #dddddd;}
.yyt04 .article .right .content .content06-1-1 .top .top-left{width: 400px;float: left;}
.yyt04 .article .right .content .content06-1-1 .top .top-left img{width: 366px;height: 297px;}
.yyt04 .article .right .content .content06-1-1 .top .top-right{width:518px;float: left;}
.yyt04 .article .right .content .content06-1-1 .top .top-right h1{font-size: 16px;color: #333;font-weight: 500;margin-bottom: 15px;}
.yyt04 .article .right .content .content06-1-1 .top .top-right .main{font-size: 14px;color: #666;margin:0 0 10px 7px;}
.yyt04 .article .right .content .content06-1-1 .top .top-right .main span{margin-right: 35px;}
.yyt04 .article .right .content .content06-1-1 .top .top-right .main .del{font-size: 12px;color: #777;text-decoration:line-through;}
.yyt04 .article .right .content .content06-1-1 .top .top-right h2{font-size: 14px;color: #444;font-weight: 500;margin: 0 0 7px 7px;}
.yyt04 .article .right .content .content06-1-1 .top .top-right .text p{color: #666;line-height: 2.45;}
.yyt04 .article .right .content .content06-1-1 .top .top-right .text .text-l{float: left;width: 270px;margin-left:7px; }
.yyt04 .article .right .content .content06-1-1 .top .top-right .text .text-r{float: left;}
.yyt04 .article .right .content .content06-1-1 .down h1{font-size: 16px;color: #333;text-align: center;font-weight: 500;margin: 35px 0 20px 0;}
.yyt04 .article .right .content .content06-1-1 .down img{width: 708px;height: 357px; margin:0 0 60px 10%; }
.yyt04 .article .right .content .content06-1-1 .down p{color: #393939;margin-bottom: 30px;line-height: 2;text-indent: 2rem;}
.yyt04 .article .right .content .content06-1-1 .down .back{border-top: 1px solid #ddd;padding:10px 0 170px;margin-top: 100px;}
.yyt04 .article .right .content .content06-1-1 .down .back .back-btn{font-size: 14px;display: block;background-color: #6dba44;color: #fff;padding: 3px 0;width: 75px;text-align: center;margin: 30px auto 0; }
/*加入我们-首页------------------------------------*/
.yyt04 .article .right .content .content08-1 .zhaopin-card{padding-bottom: 30px;border-bottom: 1px solid #ddd;margin-top: 35px;}
.yyt04 .article .right .content .content08-1 .zhaopin-card h1{font-size: 16px;color: #444;font-weight: 500;margin-bottom: 15px;}
.yyt04 .article .right .content .content08-1 .zhaopin-card table{width: 620px;color: #666;}
.yyt04 .article .right .content .content08-1 .zhaopin-card table td{padding-bottom:10px; }
.yyt04 .article .right .content .content08-1 .zhaopin-card p{color: #666;padding-top: 10px;}
.yyt04 .article .right .content .content08-1 .zhaopin-card .yinpin-btn{display: block;width: 86px;font-size: 14px;text-align: center;padding: 3px 0;margin-top: 30px;color: #6dba44;border: 1px solid #6dba44;}
.yyt04 .article .right .content .content08-1 .zhaopin-card .yinpin-btn:hover{background-color: #6dba44;color: #fff;}
/*弹窗*/
.shadow-zhaopin{position: fixed;top:0;left:0; width: 100%;height: 100%;background-color: #000;opacity: 0.5;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); z-index: 100;display: none;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin{width: 725px;height: 572px;background-color: #fff;position: fixed;top: 10%;left: 25%;z-index: 200;padding: 60px 120px 100px 120px;display: none;}
* +html .yyt04 .article .right .content .content08-1 .pop-zhaopin{width: 820px;padding: 60px 50px 100px 120px;}/* 仅IE7 识别 */
.yyt04 .article .right .content .content08-1 .pop-zhaopin .pop-close{float: right;    margin: -60px -120px 0 0;cursor: pointer;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin h1{text-align: center;font-size: 14px;color: #333;font-weight: 500;margin-bottom: 30px;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin label{font-size: 14px;color: #444;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .bitian{color: #e06a45;margin-left: 10px;font-size: 14px;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .input-small{float: left;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .yesRight{margin:0 150px 20px 0;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .noRight{margin:0 0 20px 0!important;}

.yyt04 .article .right .content .content08-1 .pop-zhaopin .input-small input{border: 1px solid #ddd;width: 210px;padding: 5px 0;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .sex input[type="radio"]{display: inline-block;margin: -3px 5px 0 0;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .sex .sex-xx{margin-right:20px; }
.yyt04 .article .right .content .content08-1 .pop-zhaopin .input-big{margin: 20px 0;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .input-big input{border: 1px solid #ddd;width: 637px;padding: 5px 0;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .jieshao{margin-bottom: 70px;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .jieshao label{display: block;float: left;margin-left: -28px;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin .jieshao textarea{display: block;float: left; width: 630px;border: 1px solid #ddd;height: 170px;margin-left: 5px;}
.yyt04 .article .right .content .content08-1 .pop-zhaopin input[type="submit"]{width: 110px;background-color: #6dba44;color: #fff;cursor: pointer;font-size: 14px;padding: 5px 0;margin: 0 auto;display: block;}
/*供应咨询------------------------------------------------*/
.yyt04 .article .right .content-0900 .content09{padding: 50px;}
.yyt04 .article .right .content-0900 .content09 h1{font-size: 16px;color: #6dba44;font-weight: 500;margin-bottom: 30px;}
.yyt04 .article .right .content-0900 .content09 label{font-size: 14px;color: #666;}
.yyt04 .article .right .content-0900 .content09 .input-small{float: left;margin:0 130px 20px 0;}
.yyt04 .article .right .content-0900 .content09 .noRight{margin-right: 0;}
.yyt04 .article .right .content-0900 .content09 .input-small input{border: 1px solid #ddd;width: 280px;padding: 5px 0;}
.yyt04 .article .right .content-0900 .content09 .jieshao{margin-bottom: 70px;}
.yyt04 .article .right .content-0900 .content09 .jieshao label{display: block;float: left;}
.yyt04 .article .right .content-0900 .content09 .jieshao textarea{display: block;float: left; width: 730px;border: 1px solid #ddd;height: 100px;margin-left: 5px;}
.yyt04 .article .right .content-0900 .content09 input[type="submit"]{width: 110px;background-color: #6dba44;color: #fff;cursor: pointer;font-size: 14px;padding: 5px 0;margin: 0 auto;display: block;}
/*联系我们------------------------------------------*/
.yyt04 .article .right .content .content10 img{width: 917px;height: 361px;cursor: pointer;margin-bottom: 30px;}
.yyt04 .article .right .content .content10 p{font-size: 14px;color: #666;margin-bottom: 10px;}
.yyt04 .article .right .content .content10 p span{color: #333;margin-right: 30px;}

