{{include file="system/header.html"}}
<body>
    {{include file="system/nav_1.html"}}
<div class="yyt-29">
    <div class="top-nav">
        <div class="wrapper">
            <img src="__PUBLIC__/images/13-1.png" alt=""/>
            <p>   {{ffcategory catid=$cat.parentid to=n}}
                <a href="__ROOT__/">首页</a> > 
                <a href="{{$n.url}}">留学专题</a>
            </p>
        </div>
    </div>
    <div class="zhongjie"></div><!--背景大图-->
    <div class="wrapper clearfix">
        <div class="part-left">
            <h1>各国留学专题</h1>
            <ul class="nav-zhuanti">
                {{foreach from=$n.child item=nv}}
                <li {{if $nv.catid==$cat.catid}}class="on" {{/if}}><a href="{{$nv.url}}">{{$nv.name}}</a><b></b></li>
                {{/foreach }}
            </ul>
        </div>
        <div class="part-right">
            {{ffpagelist catid=$cat.catid to=show order="sort asc,cid desc" pagesize=6}}
            {{foreach from=$show.info item=list}}
            <div class="card clearfix">
                <a class="chakan2" href="{{$list.url}}">
                    <img src="{{$list.thumb}}" alt=""/>
                    <p class="title">{{$list.title|mb_substr:0:40:'utf8'}}{{if strlen($list.title)>120}}...{{/if}}</p>
                    <p class="time">{{"Y-m-d"|date:$list.create_time}}</p>
                    <p class="jianjie">{{$list.description|mb_substr:0:110:'utf8'}}{{if strlen($list.description)>330}}...{{/if}}</p>
                </a>
                <a href="{{$list.url}}" class="chakan">查看详情</a>
            </div>
            {{/foreach}}
            <div class="fenye clearfix">
                {{$show.pages}}
            </div>
        </div>
    </div>

</div>

{{include file="system/footer.html"}}